Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Sounds/testsound.uasset
Content/Materials/Neon.uasset
Content/Levels/NewWorld.umap
Content/Sounds/Avid.uasset
Content/Sounds/testsound.uasset
Content/Megascans/3D_Assets/Ice_Cliff_uhupbgxfa/Albedo_8K_uhupbgxfa.uasset
Content/Megascans/3D_Assets/Ice_Cliff_uhupbgxfa/Ice_Cliff_LOD0_uhupbgxfa.uasset
Content/Megascans/3D_Assets/Ice_Cliff_uhupbgxfa/Ice_Cliff_uhupbgxfa_inst.uasset
Content/Megascans/3D_Assets/Ice_Cliff_uhupbgxfa/Normal_8K_LOD0_uhupbgxfa.uasset
Content/Megascans/3D_Assets/Ice_Cliff_uhupbgxfa/Roughness_8K_uhupbgxfa.uasset
Content/Megascans/3D_Assets/Ice_Cliff_uhupbgxfa/Transmission_8K_uhupbgxfa.uasset
Content/Megascans/3D_Assets/Ice_Cliff_vd4hbizcb/Albedo_8K_vd4hbizcb.uasset
Content/Megascans/3D_Assets/Ice_Cliff_vd4hbizcb/Ice_Cliff_LOD0_vd4hbizcb.uasset
Content/Megascans/3D_Assets/Ice_Cliff_vd4hbizcb/Ice_Cliff_vd4hbizcb_inst.uasset
Content/Megascans/3D_Assets/Ice_Cliff_vd4hbizcb/Normal_8K_LOD0_vd4hbizcb.uasset
Content/Megascans/3D_Assets/Ice_Cliff_vd4hbizcb/Roughness_8K_vd4hbizcb.uasset
Content/Megascans/3D_Assets/Ice_Cliff_vd4hbizcb/Transmission_8K_vd4hbizcb.uasset
Content/Megascans/3D_Assets/Ice_Cliff_veipbcmcb/Albedo_8K_veipbcmcb.uasset
Content/Megascans/3D_Assets/Ice_Cliff_veipbcmcb/Ice_Cliff_LOD0_veipbcmcb.uasset
Content/Megascans/3D_Assets/Ice_Cliff_veipbcmcb/Ice_Cliff_veipbcmcb_inst.uasset
Content/Megascans/3D_Assets/Modular_Snow_Road_12_M_uhpqdjvfa/Modular_Snow_Road_12_M_uhpqdjvfa_inst.uasset
Content/Megascans/3D_Assets/Rocky_Snow_Pile_vdbmabvva/Albedo_4K_vdbmabvva.uasset
Content/Megascans/3D_Assets/Rocky_Snow_Pile_vdbmabvva/Normal_4K_LOD0_vdbmabvva.uasset
Content/Megascans/3D_Assets/Rocky_Snow_Pile_vdbmabvva/Rocky_Snow_Pile_LOD0_vdbmabvva.uasset
Content/Megascans/3D_Assets/Rocky_Snow_Pile_vdbmabvva/Rocky_Snow_Pile_vdbmabvva_inst.uasset
Content/Megascans/3D_Assets/Rocky_Snow_Pile_vdbmabvva/Roughness_4K_vdbmabvva.uasset
Content/Megascans/3D_Assets/Rocky_Snow_Pile_vdbmabvva/Transmission_4K_vdbmabvva.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhuldcyfa/Albedo_8K_uhuldcyfa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhuldcyfa/Normal_8K_LOD0_uhuldcyfa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhuldcyfa/Snow_Embankment_uhuldcyfa_inst.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhuldf3fa/Albedo_8K_uhuldf3fa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhuldf3fa/Snow_Embankment_uhuldf3fa_inst.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhvjae0fa/Albedo_8K_uhvjae0fa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhvjae0fa/Normal_8K_LOD0_uhvjae0fa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhvjae0fa/Roughness_8K_uhvjae0fa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhvjae0fa/Snow_Embankment_LOD0_uhvjae0fa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhvjae0fa/Snow_Embankment_uhvjae0fa_inst.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhvjae0fa/Transmission_8K_uhvjae0fa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcsibaiga/Albedo_8K_vcsibaiga.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcsibaiga/Snow_Embankment_vcsibaiga_inst.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vctldcnfa/Albedo_8K_vctldcnfa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vctldcnfa/Snow_Embankment_vctldcnfa_inst.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcwjeh2fa/Albedo_8K_vcwjeh2fa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcwjeh2fa/Normal_8K_LOD0_vcwjeh2fa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcwjeh2fa/Roughness_8K_vcwjeh2fa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcwjeh2fa/Snow_Embankment_LOD0_vcwjeh2fa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcwjeh2fa/Snow_Embankment_vcwjeh2fa_inst.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcwjeh2fa/Transmission_8K_vcwjeh2fa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyhedzga/Albedo_8K_vcyhedzga.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyhedzga/Normal_8K_LOD0_vcyhedzga.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyhedzga/Roughness_8K_vcyhedzga.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyhedzga/Snow_Embankment_LOD0_vcyhedzga.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyhedzga/Snow_Embankment_vcyhedzga_inst.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyhedzga/Transmission_8K_vcyhedzga.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyjaf1ga/Albedo_8K_vcyjaf1ga.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyjaf1ga/Snow_Embankment_vcyjaf1ga_inst.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcykbjsva/Albedo_8K_vcykbjsva.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcykbjsva/Normal_8K_LOD0_vcykbjsva.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcykbjsva/Roughness_8K_vcykbjsva.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcykbjsva/Snow_Embankment_LOD0_vcykbjsva.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcykbjsva/Snow_Embankment_vcykbjsva_inst.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcykbjsva/Transmission_8K_vcykbjsva.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyobflcb/Albedo_8K_vcyobflcb.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyobflcb/Snow_Embankment_vcyobflcb_inst.uasset
Content/Megascans/3D_Assets/Snow_Hill_vdspdazqa/Albedo_8K_vdspdazqa.uasset
Content/Megascans/3D_Assets/Snow_Hill_vdspdazqa/Normal_8K_LOD0_vdspdazqa.uasset
Content/Megascans/3D_Assets/Snow_Hill_vdspdazqa/Roughness_8K_vdspdazqa.uasset
Content/Megascans/3D_Assets/Snow_Hill_vdspdazqa/Snow_Hill_LOD0_vdspdazqa.uasset
Content/Megascans/3D_Assets/Snow_Hill_vdspdazqa/Snow_Hill_vdspdazqa_inst.uasset
Content/Megascans/3D_Assets/Snow_Hill_vdspdazqa/Transmission_8K_vdspdazqa.uasset
Content/Megascans/3D_Assets/Snow_Hill_vefkajufa/Albedo_4K_vefkajufa.uasset
Content/Megascans/3D_Assets/Snow_Hill_vefkajufa/Normal_4K_LOD0_vefkajufa.uasset
Content/Megascans/3D_Assets/Snow_Hill_vefkajufa/Roughness_4K_vefkajufa.uasset
Content/Megascans/3D_Assets/Snow_Hill_vefkajufa/Snow_Hill_LOD0_vefkajufa.uasset
Content/Megascans/3D_Assets/Snow_Hill_vefkajufa/Snow_Hill_vefkajufa_inst.uasset
Content/Megascans/3D_Assets/Snow_Hill_vefkajufa/Transmission_4K_vefkajufa.uasset
Content/Megascans/Surfaces/Trampled_Snow_4x4_M_vcqnfdk/Albedo_8K_vcqnfdk.uasset
Content/Megascans/Surfaces/Trampled_Snow_4x4_M_vcqnfdk/Displacement_8K_vcqnfdk.uasset
Content/Megascans/Surfaces/Trampled_Snow_4x4_M_vcqnfdk/Normal_8K_vcqnfdk.uasset
Content/Megascans/Surfaces/Trampled_Snow_4x4_M_vcqnfdk/Roughness_8K_vcqnfdk.uasset
Content/Megascans/Surfaces/Trampled_Snow_4x4_M_vcqnfdk/Trampled_Snow_4x4_M_vcqnfdk_inst.uasset
Content/MSPresets/MS_DefaultMaterial/Functions/MF_DetailNormalTiling.uasset
Content/MSPresets/MS_DefaultMaterial/Functions/MF_Displacement.uasset
Content/MSPresets/MS_DefaultMaterial/Functions/MF_Fuzz.uasset
Content/MSPresets/MS_DefaultMaterial/Functions/MF_MapAdjustments.uasset
Content/MSPresets/MS_DefaultMaterial/Functions/MF_Tiling.uasset
Content/MSPresets/MS_DefaultMaterial/Functions/MF_Transmission.uasset
Content/MSPresets/MS_DefaultMaterial/MS_DefaultMaterial.uasset
Content/MSPresets/MSAssets.db
Content/MSPresets/MSTextures/Albedo.uasset
Content/MSPresets/MSTextures/AlbedoVT.uasset
Content/MSPresets/MSTextures/AO.uasset
Content/MSPresets/MSTextures/Displacement.uasset
Content/MSPresets/MSTextures/Metalness.uasset
Content/MSPresets/MSTextures/MetalnessVT.uasset
Content/MSPresets/MSTextures/noise_mask.uasset
Content/MSPresets/MSTextures/noise_normal.uasset
Content/MSPresets/MSTextures/Normal.uasset
Content/MSPresets/MSTextures/NormalVT.uasset
Content/MSPresets/MSTextures/Roughness.uasset
Content/MSPresets/MSTextures/RoughnessVT.uasset
Content/ThirdPersonCPP/Maps/ThirdPersonExampleMap.umap
Content/ThirdPersonCPP/Maps/ThirdPersonExampleMap_BuiltData.uasset
Content/Megascans/3D_Assets/Ice_Cliff_veipbcmcb/Normal_8K_LOD0_veipbcmcb.uasset
Content/Megascans/3D_Assets/Ice_Cliff_veipbcmcb/Roughness_8K_veipbcmcb.uasset
Content/Megascans/3D_Assets/Ice_Cliff_veipbcmcb/Transmission_8K_veipbcmcb.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhuldcyfa/Roughness_8K_uhuldcyfa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhuldcyfa/Snow_Embankment_LOD0_uhuldcyfa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhuldcyfa/Transmission_8K_uhuldcyfa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhuldf3fa/Normal_8K_LOD0_uhuldf3fa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhuldf3fa/Roughness_8K_uhuldf3fa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhuldf3fa/Snow_Embankment_LOD0_uhuldf3fa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_uhuldf3fa/Transmission_8K_uhuldf3fa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcsibaiga/Normal_8K_LOD0_vcsibaiga.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcsibaiga/Roughness_8K_vcsibaiga.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcsibaiga/Snow_Embankment_LOD0_vcsibaiga.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcsibaiga/Transmission_8K_vcsibaiga.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vctldcnfa/Normal_8K_LOD0_vctldcnfa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vctldcnfa/Roughness_8K_vctldcnfa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vctldcnfa/Snow_Embankment_LOD0_vctldcnfa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vctldcnfa/Transmission_8K_vctldcnfa.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyjaf1ga/Normal_8K_LOD0_vcyjaf1ga.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyjaf1ga/Roughness_8K_vcyjaf1ga.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyjaf1ga/Snow_Embankment_LOD0_vcyjaf1ga.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyjaf1ga/Transmission_8K_vcyjaf1ga.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyobflcb/Normal_8K_LOD0_vcyobflcb.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyobflcb/Roughness_8K_vcyobflcb.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyobflcb/Snow_Embankment_LOD0_vcyobflcb.uasset
Content/Megascans/3D_Assets/Snow_Embankment_vcyobflcb/Transmission_8K_vcyobflcb.uasset
Content/ThirdPersonCPP/Maps/ThirdPersonExampleMap.umap
Content/ThirdPersonCPP/Maps/ThirdPersonExampleMap_BuiltData.uasset
