Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Sounds/testsound.uasset
Content/Materials/Neon.uasset
Content/Levels/NewWorld.umap
Content/Sounds/Avid.uasset
Content/Sounds/testsound.uasset
